<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:mail.properties</value>
                 <value>classpath:redis.properties</value>
                 <value>classpath:project.properties</value>
            </list>
        </property>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="readDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="${activemq.brokerURL}" />
	</bean>


	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
	</bean>
	
    	<!-- ota消息 -->
	<bean id="otaQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="otaQueue" />
	</bean>
    <bean id="otaQueueListener" class="com.ccm.api.jms.OTAQueueListener" />
	
	<bean id="otaJmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer" lazy-init="false">
			<property name="connectionFactory" ref="connectionFactory" />
			<property name="destination" ref="otaQueue" />
			<property name="messageListener" ref="otaQueueListener" />
	</bean>	
	
    <bean id="projectProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="singleton" value="true" />
		<property name="properties">
			<props>
				<!-- emay sms -->
				<prop key="otaUrlContext">http://118.145.23.236/ADSGenericListner_MYSQL/Default.aspx</prop>
				<prop key="otaInfType">Test</prop>
			</props>
		</property>
	</bean>
</beans>
